 <!-- Sidenav Menu Start -->
<div class="sidenav-menu">

    <!-- Brand Logo -->
    <a href=@Url.Action("Index", "Wellcome",new {area = "Home"}) class="logo">
        <span class="logo logo-light">
            <span class="logo-lg"><img src="~/images/logo.png" alt="logo"></span>
            <span class="logo-sm"><img src="~/images/logo-sm.png" alt="small logo"></span>
        </span>

        <span class="logo logo-dark">
            <span class="logo-lg"><img src="~/images/logo-black.png" alt="dark logo"></span>
            <span class="logo-sm"><img src="~/images/logo-sm.png" alt="small logo"></span>
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <button class="button-on-hover">
        <i class="ti ti-menu-4 fs-22 align-middle"></i>
    </button>

    <!-- Full Sidebar Menu Close Button -->
    <button class="button-close-offcanvas">
        <i class="ti ti-x align-middle"></i>
    </button>

    <div class="scrollbar" data-simplebar>
        <!--- Sidenav Menu -->
        <ul class="side-nav">
            <li class="side-nav-title" data-lang="menu-title">Menu</li>

            <li class="side-nav-item">
                <a href="@Url.Action("Index", "Wellcome", new { area = "Home" })" class="side-nav-link">
                    <span class="menu-icon"><i class="ti ti-home"></i></span>
                    <span class="menu-text">Inicio</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="@Url.Action("Index", "Lavados", new { area = "Operaciones" })" class="side-nav-link">
                    <span class="menu-icon"><i class="ti ti-droplet"></i></span>
                    <span class="menu-text">Lavados</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="@Url.Action("Completados", "Lavados", new { area = "Operaciones" })" class="side-nav-link">
                    <span class="menu-icon"><i class="ti ti-check"></i></span>
                    <span class="menu-text">Lavados Completados</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="@Url.Action("Index", "Ventas", new { area = "Ventas" })" class="side-nav-link">
                    <span class="menu-icon"><i class="ti ti-shopping-cart"></i></span>
                    <span class="menu-text">Ventas Snacks</span>
                </a>
            </li>
           
            <li class="side-nav-item">
                <a href="@Url.Action("Index", "Caja", new { area = "Operaciones" })" class="side-nav-link">
                    <span class="menu-icon"><i class="ti ti-cash"></i></span>
                    <span class="menu-text">Caja</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarCatalogos" aria-expanded="false" aria-controls="sidebarCatalogos" class="side-nav-link">
                    <span class="menu-icon"><i class="ti ti-layout-dashboard"></i></span>
                    <span class="menu-text" data-lang="ventas">Catalogos</span>
                </a>
                <div class="collapse" id="sidebarCatalogos">
                    <ul class="sub-menu">
                        <li class="side-nav-item">
                            <a href="@Url.Action("Index", "Servicios", new { area = "Catalogos" })" class="side-nav-link">
                                <span class="menu-icon"><i class="ti ti-bucket"></i></span>
                                <span class="menu-text">Servicios</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="@Url.Action("Index", "TiposVehiculo", new { area = "Catalogos" })" class="side-nav-link">
                                <span class="menu-icon"><i class="ti ti-truck"></i></span>
                                <span class="menu-text">Tipos de Vehículo</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="@Url.Action("Index", "Marcas", new { area = "Catalogos" })" class="side-nav-link">
                                <span class="menu-icon"><i class="ti ti-tag"></i></span>
                                <span class="menu-text">Marcas</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="@Url.Action("Index", "Modelos", new { area = "Catalogos" })" class="side-nav-link">
                                <span class="menu-icon"><i class="ti ti-car"></i></span>
                                <span class="menu-text">Modelos</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="@Url.Action("Index", "Productos", new { area = "Catalogos" })" class="side-nav-link">
                                <span class="menu-icon"><i class="ti ti-basket"></i></span>
                                <span class="menu-text">Productos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>




        </ul>
    </div>
</div>
<!-- Sidenav Menu End -->